/* contact section styling */
.contact  {
  background-color: $white;
}

.contact .title::after {
  content: "get in touch";
  color: $yellow;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;

  i {
    font-size: 25px;
    color: $yellow;
  }
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.social-media {
  align-items: inherit ;
  margin-top: 50px ;

  a {
    margin-left: 15px ;
  }
}

@media (max-width: 947px) {
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}
