section {
  padding: 100px 0;

  .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 180px;
      height: 3px;
      background: #111;
      transform: translateX(-50%);
    }

    &::after {
      position: absolute;
      bottom: -8px;
      left: 50%;
      font-size: 20px;
      color: crimson;
      padding: 0 5px;
      background: #fff;
      transform: translateX(-50%);
    }
  }
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about, .services, .skills, .teams, .contact, footer {
  font-family: $popins;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*Max width responsive values*/
@media (max-width: 991px) {
  .max-width {
      padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    max-width: 930px;
  }
}

@media (max-width: 690px)  {
  .max-width {
    padding: 0 23px;
  }
}
