/* skills section styling */

.skills .title::after {
  content: "what I know";
  color: $yellow;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p {
  text-align: justify;
}

@media (max-width: 947px)  {
  .skills .skills-content .column  {
    width: 100%;
    margin-bottom: 35px;
  }

}


@media (max-width: 500px)   {
  .about .about-content .right .text,
  .skills .skills-content .left .text  {
      font-size: 19px;
  }

}

